In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
df= pd.read_csv('/home/rajesh/work/tk_cv/data/DagleTest2_Sushil_Paudyal july_30_2025.csv')

/tmp/ipykernel_71139/251127399.py:1: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('/home/rajesh/work/tk_cv/data/DagleTest2_Sushil_Paudyal july_30_2025.csv')

In [4]:
main_path="/home/rajesh/work/tk_cv/data"

temp_store=[]
for file_name in os.listdir(main_path):
    if file_name.startswith('Da') & file_name.endswith('.csv'):
        df= pd.read_csv(os.path.join(main_path, file_name))
        df.columns= df.iloc[0]
        df= df[1:]
        df= df.reset_index(drop=True)
        temp_store.append(df)

/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,11,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))
/tmp/ipykernel_71139/253306523.py:6: DtypeWarning: Columns (0,1,3,4,6,7,9,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(main_path, file_name))

In [5]:
final_df= pd.concat(temp_store)

In [6]:
final_df['date_time']= pd.to_datetime(final_df['Date Time'])

In [7]:
final_df.sort_values('date_time', ascending=True)

,Animal Number,Animal Name,Date Time,Milk Speed,Milk Yield,Milk Time,LF,Milk Yield/ Box Time,Refusal Type,LR,...,Visit Result,Success,Refusal,RF,RR,Device Name,Box Time,Lactation Number,Lactation Days,date_time
82104,23177,NaN,2024-05-01 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Grazeway 41,0:00,1,90,2024-05-01 00:00:00
82103,23289,NaN,2024-05-01 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Grazeway 39,0:00,1,54,2024-05-01 00:00:00
82102,5328,NaN,2024-05-01 00:00,6.6,18.3,3:04,71.0,0.07,Milk Visit,69.0,...,Successful,x,NaN,71.0,69.0,Astronaut 134,5:04,1,177,2024-05-01 00:00:00
82101,23177,NaN,2024-05-01 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Grazeway 41,0:00,1,90,2024-05-01 00:00:00
82100,23177,NaN,2024-05-01 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Grazeway 41,0:00,1,90,2024-05-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,24611,NaN,2025-06-14 23:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Grazeway 31,0:00,1,87,2025-06-14 23:59:00
1,23031,NaN,2025-06-14 23:59,NaN,NaN,NaN,NaN,NaN,Milk Interval not Passed,NaN,...,Milk Interval not Passed,NaN,x,NaN,NaN,Astronaut 125,0:11,2,105,2025-06-14 23:59:00
0,20788,NaN,2025-06-14 23:59,NaN,NaN,NaN,NaN,NaN,Milk Interval not Passed,NaN,...,Milk Interval not Passed,NaN,x,NaN,NaN,Astronaut 102,0:10,3,166,2025-06-14 23:59:00
9,23415,NaN,2025-06-14 23:59,9.0,25.1,3:05,70,0.09,Milk Visit,68,...,Successful,x,NaN,67,67,Astronaut 125,4:56,2,38,2025-06-14 23:59:00
8,24611,NaN,2025-06-14 23:59,NaN,NaN,NaN,NaN,NaN,Milk Interval not Passed,NaN,...,Milk Interval not Passed,NaN,x,NaN,NaN,Astronaut 120,0:08,1,87,2025-06-14 23:59:00

In [8]:
cow_df= pd.read_csv(os.path.join(main_path, 'cow_detection_results.csv'))

In [9]:
import pandas as pd

# Example
cow_df['date'] = pd.to_datetime(
    cow_df['Year'].astype(str) + '-' +
    cow_df['Month'].astype(str).str.zfill(2) + '-' +
    cow_df['Day'].astype(str).str.zfill(2) + ' ' +
    cow_df['Time'].astype(str)
)

print(cow_df['date'])

0        2024-05-15 14:02:00
1        2024-05-15 14:03:00
2        2024-05-15 14:03:00
3        2024-05-15 14:04:00
4        2024-05-15 14:04:00
                 ...
168202   2024-07-15 15:01:00
168203   2024-07-15 15:02:00
168204   2024-07-15 15:03:00
168205   2024-07-15 15:04:00
168206   2024-07-15 15:05:00
Name: date, Length: 168207, dtype: datetime64[ns]

In [11]:
tempr_df= pd.read_excel('/home/rajesh/work/tk_cv/data/master_data_2.7.25.xlsx')

In [12]:
tempr_df

,file_name,date_time_cst_cdt,temperature_c,rh_percent,dew_point_c,pen_id,spot_id,rounded_timestamp,date,time,hour
0,Pen 1 spot 1 2025-02-07 07_39_49 CST.xlsx,2024-01-14 23:50:50,14.411758,NaN,NaN,Pen 1,spot 1,2024-01-15 00:00:00,2024-01-15,23:50:50,0
1,Pen 1 spot 1 2025-02-07 07_39_49 CST.xlsx,2024-01-15 00:20:50,15.484268,NaN,NaN,Pen 1,spot 1,2024-01-15 00:30:00,2024-01-15,00:20:50,0
2,Pen 1 spot 1 2025-02-07 07_39_49 CST.xlsx,2024-01-15 00:50:50,16.385176,NaN,NaN,Pen 1,spot 1,2024-01-15 01:00:00,2024-01-15,00:50:50,1
3,Pen 1 spot 1 2025-02-07 07_39_49 CST.xlsx,2024-01-15 01:20:50,14.712061,NaN,NaN,Pen 1,spot 1,2024-01-15 01:30:00,2024-01-15,01:20:50,1
4,Pen 1 spot 1 2025-02-07 07_39_49 CST.xlsx,2024-01-15 01:50:50,13.553750,NaN,NaN,Pen 1,spot 1,2024-01-15 02:00:00,2024-01-15,01:50:50,2
...,...,...,...,...,...,...,...,...,...,...,...
388982,Pen 6 spot 24 2025-02-06 16_15_42 CST.xlsx,2025-02-06 13:51:18,21.619023,NaN,NaN,Pen 6,spot 24,2025-02-06 14:00:00,2025-02-06,13:51:18,14
388983,Pen 6 spot 24 2025-02-06 16_15_42 CST.xlsx,2025-02-06 14:21:18,21.704824,NaN,NaN,Pen 6,spot 24,2025-02-06 14:30:00,2025-02-06,14:21:18,14
388984,Pen 6 spot 24 2025-02-06 16_15_42 CST.xlsx,2025-02-06 14:51:18,22.391230,NaN,NaN,Pen 6,spot 24,2025-02-06 15:00:00,2025-02-06,14:51:18,15
388985,Pen 6 spot 24 2025-02-06 16_15_42 CST.xlsx,2025-02-06 15:21:18,20.846816,NaN,NaN,Pen 6,spot 24,2025-02-06 15:30:00,2025-02-06,15:21:18,15
388986,Pen 6 spot 24 2025-02-06 16_15_42 CST.xlsx,2025-02-06 15:51:18,22.562832,NaN,NaN,Pen 6,spot 24,2025-02-06 16:00:00,2025-02-06,15:51:18,16